<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${reviewModel.name}">A Review</title>
</head>
<body>
    <header>
        <h1 th:text="${reviewModel.name}">My Reviews</h1>
    </header>

<main>
    <ul>
        <p>
<!--        <h2 th:text="${reviewModel.name}"></h2>-->
        <h2 th:text="${reviewModel.date}"></h2>
        <h3 th:text="${reviewModel.content}"></h3>
        <h3 th:text="${reviewModel.category}"></h3>
        <img th:src="${reviewModel.urlImage}">
        <li th:text="${reviewModel.description}"></li>
        <li th:text="${reviewModel.category}"></li>
        <a href="/reviews">Reviews</a>
        </p>
    </ul>
</main>
    <footer>
        <small>&copy WCCI 2022</small>
    </footer>

</body>
</html>
